<header class="page__header" {{#if image}}style="background-image: url({{image}});" {{/if}}>
  <h1 class="page__header-title">{{title}}</h1>
</header>

<section class="page__section">
  <h2>Send us a message</h2>

  <form action="/contact" method="post" class="form" novalidate>
    <div class="form__group form__group--name">
      <label for="name" class="form__label" data-required="required">Name</label>
      <input type="text" name="name" id="name" class="form__input {{#if errors.name }}form__input--error{{/if}}">
      {{#if errors.name }}
      <div>
        {{ errors.name.msg }}
      </div>
      {{/if}}
    </div>

    <div class="form__group form__group--email">
      <label for="email" class="form__label" data-required="required">Email Address</label>
      <input type="email" name="email" id="email" class="form__input {{#if errors.email }}form__input--error{{/if}}">
      {{#if errors.email }}
      <div>
        {{ errors.email.msg }}
      </div>
      {{/if}}
    </div>

    <div class="form__group form__group--message">
      <label for="message" class="form__label" data-required="required">Message</label>
      <textarea name="message" id="message" rows="7"
        class="form__textarea {{#if errors.name }}form__textarea--error{{/if}}"></textarea>
      {{#if errors.message }}
      <div>
        {{ errors.message.msg }}
      </div>
      {{/if}}
    </div>

    <div class="form__group form__group--subscribe">
      <input type="checkbox" id="subscribe" name="subscribe" class="form__checkbox">
      <label for="subscribe" class="form__label">Subscribe to our newsletter</label>
    </div>

    <div class="form__group form__group--button">
      <button class="form__submit">Send message</button>
    </div>
  </form>
</section>