<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="header">
    <div class="header__logo">
      <a href="/">Tasty Treats</a>
    </div>

    <nav class="header__nav">
      <ul class="header__nav-item-container">
        {{#each nav}}
        <li class="header__nav-item"><a href="{{this}}">{{@key}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </header>
  <main class="page">
    <article class="page__article">
      {{{body}}}
    </article>
  </main>
  <footer class="footer">
    <section class="footer__contact">
      <h2>Contact</h2>
      <p><a href="tel:#">tel: +44(0)123 456 7890</a></p>
      <p><a href="mailto:#">email: hello@tastytreats.com</a></p>
    </section>

    <nav class="footer__nav">
      <h2>Site map</h2>
      <ul class="footer__nav-item-container">
        {{#each nav}}
        <li class="footer__nav-item"><a href="{{this}}">{{@key}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </footer>
</body>

</html>