<header class="page__header" {{#if image}}style="background-image: url({{image}});" {{/if}}>
  <h1 class="page__header-title">{{title}}</h1>
</header>

<section class="page__section">
  <h2>{{numberOfMessages}} messages</h2>
  {{#each messages}}
  <article class="message">
    <header class="message__meta">
      <p><strong>Name:</strong> {{this.name}}</p>
      <p><strong>Email:</strong> {{this.email}}</p>
      <p><strong>Date:</strong> {{this.date}}</p>
    </header>
    <section class="message__body">
      {{this.message}}
    </section>

    <footer class="message__subscribe">
      <p><strong>Subscribed to newsletter:</strong> {{#if this.subscribe}}Yes{{else}}No{{/if}}</p>
    </footer>

  </article>
  {{/each}}

</section>